
/* Common */

:root {
  --c-foreground: #222;
  --c-background: #FFF;
  --c-red: #E83737;
  --c-grey: #DDD;
  --image-circle-10: url("data:image/svg+xml,\
    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" height=\"10\">\
      <circle cx=\"5\" cy=\"5\" r=\"5\" fill=\"\%23DDD\"/>\
    </svg>");
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font: 16px/1.4 "Rubik", sans-serif;
  color: var(--c-foreground);
  background: var(--c-background);
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 0.5em 0;
}

.dark-mode {
  --c-foreground: #EEE;
  --c-background: #111;
  --c-red: #E15858;
  --c-grey: #444;
  --image-circle-10: url("data:image/svg+xml,\
    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" height=\"10\">\
      <circle cx=\"5\" cy=\"5\" r=\"5\" fill=\"\%23444\"/>\
    </svg>");
}

.container {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

/* Calendar */

.calendar {
  overflow-x: auto;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  min-width: 840px;
  width: 100%;
}

.calendar__month,
.calendar__year {
  font-size: 38px;
  font-weight: 600;
  margin: 40px 0 10px;
}

.calendar__body {
  min-width: 840px;
  width: 100%;
  border-collapse: collapse;
}

.calendar__weekname {
  font-size: 14px;
  font-weight: 600;
  border-right: 1px solid var(--c-grey);
  padding: 10px;
}

.calendar__weekname:last-child {
  border-right: none;
}

.calendar__day {
  font-size: 22px;
  font-weight: 300;
  vertical-align: top;
  border-top: 1px solid var(--c-grey);
  border-right: 1px solid var(--c-grey);
  position: relative;
  padding: 10px;
  min-width: 120px;
  height: 80px;
}

.calendar__day:last-child {
  border-right: none;
}

.calendar__day--prev,
.calendar__day--next {
  color: var(--c-grey);
}

.calendar__weekname--holiday,
.calendar__day--holiday {
  color: var(--c-red);
}

.calendar__day--marked::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-image: var(--image-circle-10);
}
